<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Relativa.Audit]*,[Relativa.Audit.Application]*,[Relativa.Audit.Domain]*,[Relativa.Audit.Infrastructure]*,[Relativa.Persistence]*,[Relativa.Messaging]*</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
